@import "tailwindcss";

/* @plugin "daisyui" {
   themes: light --default, dark --prefersdark, bumblebee;
 } */

@plugin "daisyui" {
  themes: bumblebee --default;
}

html,
body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
