@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}
html, body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}